@charset "UTF-8";

/*--------------------------------Importações Externas--------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/*--------------------------------Importações Externas--------------------------------*/
/*--------------------------------Configurações Globais--------------------------------*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: 0;
}

header{
    font-family: var(--f1);
}
div.bd {
    height: 100%;
    width: 90vw;
    margin: auto;
    border-radius: 20px;
    font-family: var(--f1);
    border-radius: 20px;
    box-shadow: 0px 0px 4px var(--c-1);
}

h1 {
    font-family: var(--f1);
    font-size: 1.5em;
    text-align: center;
    margin: 20px;
}

h2 {
    font-family: var(--f2);
    text-align: center;
    color: var(--c1);
    text-shadow: 0px 0px 0px 1px var(--c-2);
    margin: 0px 10px;
}

h3 {
    font-family: var(--f3);
    font-size: 1em;
    text-align: center;
    margin: 20px;
    color: var(--c-2);
}

a.cta {
    display: block;
    margin: auto;
    text-decoration: none;
    color: var(--c0);
    background-color: var(--c1);
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 4px var(--c-2);
    width: 80vw;
    transition: .5s;
    animation: cta 1s infinite alternate;
}

@keyframes cta {
    from {
        transform: scale(1.07);
    }
}

a.cta:hover {
    color: var(--c-1);
    background-color: var(--c3);
}

p,
li {
    margin: 10px auto;
    padding: 20px;
    text-align: justify;
    line-height: 1.5em;
    text-indent: 1.5em;
    list-style-position: inside;
    width: auto;
    list-style-type: '\02714\00A0\00A0';
}


img {
    margin: 20px auto;
    width: 220px;
    display: block;
}

:root {
    /*Declaração de Variávies*/
    --c-4: #83e1ad2f;
    --c-3: #00000013;
    --c-2: rgba(0, 0, 0, 0.500);
    /*Textos Sombreados*/
    --c-1: black;
    --c0: snow;
    --c1: #83e1ad;
    --c2: #3ddc84;
    --c3: #2fa866;
    --c4: #00000013;
    --c5: #55575646;

    --f1: "Montserrat", sans-serif;
    ;
    --f2: Arial, Helvetica, sans-serif;
    --f3: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}

@media screen and (min-width:762px) {
    div.bd, header{
        width: 720px;
    }

    a.cta {
        width: 350px;
    }

  .s-1 {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: 0px 75px;
    }

    .s-1 div{
        gap: 15px;
    }

    .s-profit div{
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: 0px 10px;
    }

    li, .s-product p,footer p,.s-sponsion p{
        width: 350px;
    }
   
    .s-product div{
        display: flex;
        margin: 0px 20px;
    }

    .s-special2 div{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 0px;
    }

    .s-special2 div img{
        margin-left: 5px;
        margin-right: 5px;
    }

    .s-sponsion{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        padding:20px;
    }
   
    footer {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        height: 250px;

    }

    footer p {
        width: 300px;
        padding: 0px;
    }

  
}

/* body,main,header,footer,h1,h2,h3,p,.video,article{
    border: 1px dotted black;
} */

/*--------------------------------Configurações Globais--------------------------------*/


/*--------------------------------Configurações header--------------------------------*/
header {
    padding: 10px;
    margin: auto;
}

header strong {
    font-size: 1.3em;
    color: var(--c1);
}

.video {
    margin: auto;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px var(--c1);
}


/*--------------------------------Configurações header--------------------------------*/

/*--------------------------------Configurações main--------------------------------*/

section {
    margin: 20px 0px;
    padding: 10px 0px;
}

img.compar {
    width: 110px;
    display: inline-block;
}

.s-1, .s-special {
    background-color: var(--c-3);
}

.s-1 div {
    text-align: center;
}

.result{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    gap: 10px;
}

.s-product,
.s-profit {
    text-align: center;
}
.s-attest{
    margin: 0px 10px;
    padding: 10px;
}
.attest{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    gap: 20px;
}

.s-attest div {
    margin: 0px auto 20px auto;
}

.attest div {
    width: 210px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 1px var(--c-2);
    overflow: hidden;
}

.attest div:hover {
    box-shadow: 0px 0px 10px 5px var(--c-2);
    transition: .5s;
}

img.min-a {
    width: 75px;
    display: block;
    height: 75px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px var(--c1);
}

.attest p,
.s-product p {
    text-indent: 0px;
}

.caption {
    text-align: center;
}

.s-sponsion {
    background-color: var(--c-4);
}

section.q-a>h2.q {
    text-align: left;
    margin: 20px 20px 0px 20px;
}

section.q-a>div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-flow: row nowrap;
    position: relative;
    margin: 20px 0;

}

.symbol::before,
.symbol::after {
    content: '';
    background-color: var(--c1);
    border-radius: 15px;

    position: absolute;
    left: calc(100% - 30px);
    transform: translate(-50%, -50%);
    transition: .3s;
}

.symbol::before {
    width: 5px;
    height: 20px;
}

.symbol::after {
    width: 20px;
    height: 5px;
}

.symbol.active::before {
    transform: translate(-50%, -50%) rotate(90deg);
    left: calc(100% - 30px);
    background-color: black;
}
.symbol.active::after {
    background-color: black;
}


section.q-a>p {
    text-indent: 0px;
    padding: 0px 20px 20px 20px;
    display: none;
    animation: toggleanswer 1s; /*chamando a animação 'toggleanswer'*/
}

@keyframes toggleanswer { /*Criação de uma animação com o nome 'toggleanswer'*/
    from {
        transform: translateY(-20px);
    }

    to {
        transform: translateY(0px);
    }
}

h2.active{
    color: black;
}

section.q-a>p.active {
    display: block;
}

section.q-a h2.q {
    text-shadow: 0px 0px 10px 5px var(--c-2);
    transition: .5s;
    cursor: pointer;
}

/*--------------------------------Configurações main--------------------------------*/

/*--------------------------------Configurações footer--------------------------------*/
footer {
    background-color: var(--c1);
    padding: 10px;
    border-radius: 0px 0px 20px 20px;

}

footer h2 {
    font-size: 1em;
    color: var(--c0);
    box-shadow: 0px 0px 0px var(--c-2);
}

footer p {
    color: var(--c0);
    box-shadow: 0px 0px 0px var(--c-2);
    font-size: 0.8em;
}

footer strong {
    color: var(--c-1);
}

.logo {
    display: block;
    height: 75px;
    width: 75px;
    margin: auto;
}

footer nav {
    border: 1px solid var(--c0);
    margin: auto;
    border-radius: 15px;
    padding: 3px;
    text-align: center;
    width: 300px;
}



footer a,
footer span {
    text-decoration: none;
    text-align: center;
    font-size: 0.8em;
    color: var(--c0);
    text-shadow: 0px 0px 0px 1px var(--c-2);
    cursor: pointer;
}

footer a:hover {
    text-decoration: underline;
}

.copy {
    text-indent: 0px;
    text-align: center;
}

/*--------------------------------Configurações footer--------------------------------*/